.container  {
  max-width: 500px;
}

h2 {
  margin-top: 10px;
}

#gameBoard {
  border: 1px solid gray;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
}

/*.card {
  border: 1px solid lightgray;
  min-height: 100px;
}*/

#card0,
#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9,
#card10,
#card11,
#card12,
#card13,
#card14,
#card15
 {
  border: 1px solid lightgray;
  min-height: 100px;
  padding: 0;
}

.red {
  background-color: #FF6666;
}

.blue {
  background-color: #4C4CFF;
}

.card-active:hover {
  background-color: lightgray;
}

#status {
  margin-bottom: 10px;
}

